body{
margin: 0%;
padding: 0%;
height: 100vh;
overflow-x: hidden;

}
.anchor-head:hover{
border:2px solid black ;
box-shadow: 2px 2px 2px;
transition: 0.10s;
border-radius: 5px 5px;
}
.back{
    height:70vh   ;
    width: 100%;
    background-image:url("../image/desert-mountain.jpg") ;
    background-size: cover;
    
    background-position: center bottom;            
    }
nav a{
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    
    }
.navbar{
    background-color:transparent;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    }
.heading{
    color:#3E5F7E;
    font-family: Montserrat;
    
    }
.head-p{
    font-family: roboto;
    }
.head-form{
    margin-top: 100px;
    margin-left: 400px;
    }
.head-input{
    border:2px solid black;
    border-radius: 8px 8px;
    height: 35px;
    background-color: transparent;
    box-shadow: 2px 2px 2px;
    }

.destination{
    padding-top: 170px;
}
.destination-head{
    font-size:60px;
    color: white;
}

.destination p{
    color: white;
    font-size: 20px;
}

.popular h3{
    font-size: 40px;
}


.card:hover{
    transform: translateY(-7px);
    transition-duration: .5s;
}

.popular-cards-body {
    height:350px ;
}

.popular-cards-body img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}